body {
    background-color: rgb(235, 248, 255);
    width: 100vw;
    height: 180vh;
    font-family: 'MacysSans', sans-serif;
}


@font-face {
    font-family: 'MacysSans';
    src: url('./Contents/MacysSans-Light.otf') format('otf');
    /* url('./Contents/MacysSans-Micro.otf') format('otf'),
       url('./Contents/MacysSans.otf') format('otf'),
       url('./Contents/TT\ Ramillas\ Trial\ Regular.ttf') format('ttf'); */

    font-weight: normal;
    font-style: normal;
}


#frame {
    width: 80vw;
    height: 160vh;
    overflow: hidden;
    position: relative;
    border: 30px solid #9b6e1c;
    margin: 50px auto;
    cursor: default;
    user-select: none;
    /* prevents text selection while dragging */
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    transition: transform 0.2s ease;
    pointer-events: auto;
}

#background img {
    width: 1920px;
    height: auto;
    pointer-events: none;
}



/* selector functions
#selector {
    position: absolute;
    /* background-color: blueviolet;
    opacity: 0.5; 
    top: 650px;
    left: 1120px;
    width: 150px;
    height: 220px;
} */


#MacyS {
    position:inherit;
    top: 1350px;
    left: 400px;
    width: 150px;
    height: 220px;
    z-index: 10;
    --star-size: 100px;

    width: var(--star-size);
    height: var(--star-size);
    background: rgb(221, 23, 23);
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);




            
}

.star {
  animation: pulseScale 1.5s ease-in-out infinite;
  transform-origin: center;
}

/* Define the animation keyframes */
@keyframes pulseScale {
  0%, 100% {
    transform: scale(0.8)rotate(0deg);
  }
  50% {
    transform: scale(1.2)rotate(90deg);
  }
}




#Bubble {
    position: relative;
    background-color: white;
    stroke-width: 2px;
    stroke: black;
    width: 300px;
    height: 300px;
    font-size: 15px;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
}

#Bubble img {

    width: 150px;
    height: auto;
}

#selector:hover>#Bubble {
    opacity: 1;
}



h1 {
    text-align: center;
    font-family: 'MacysSans', sans-serif;
}